body, html {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20%;
    margin: 0px;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color:darkslategray;
        font-size: 40px;

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
}

.main {
    min-height: 80vh;

}

.div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    @media (max-width: 576px) {
        padding-top: 20px;
    }
}

.list__item {
    margin-bottom: 20px;
}

.edit_button {
    background-color: rgb(232, 243, 136);
    cursor: pointer;
}

.delete_button {
    background-color: rgb(243, 130, 130);
    cursor:pointer;
}

.add__text {
    @media (max-width: 576px) {
        padding-left: 20px;
    }
}
.form-control {
    cursor: pointer;
}




.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
}