body, html {

    // background-color: beige;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20%;
    margin: 0px;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color:darkslategray;
        font-size: 40px;
    }
}

.main {
    min-height: 80vh;

}

.div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.edit_button {
    background-color: rgb(232, 243, 136);
    cursor: pointer;
}

.delete_button {
    background-color: rgb(243, 130, 130);
    cursor:pointer;
}

.form-control {
    cursor: pointer;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
}